// Theme Colors
$color-base: #2d2d2d;
$color-highlight: #d3d0c8;

$color-shade-darkest: #2d2d2d;
$color-shade-dark: #393939;
$color-shade-mid: #515151;
$color-shade-light: #747369;
$color-shade-lightest: #a09f93;

// Font Colors
$base-font-color: #f2f0ec;

$base-link-color: #6699cc;
$base-link-color-active: #f99157;
