// Theme Colors

$tully-blue: #6699cc;
$tully-blue-dark: #446a92;

$color-shade-darkest: #111;
$color-shade-dark: #282c34;
$color-shade-light: #545454 !default;
$color-shade-lightest: #828282 !default;

$base-link-color: $tully-blue;
$base-link-color-active: $color-shade-light;
$base-link-color-hover: #77966D;

pre {
    background: #111 !important;
    border: 1px solid #2d2d2d !important;
    color: chartreuse !important;
}

.channel_page_member_row:hover {
    background-color: rgba(96,96,96,0.5) !important;
    border-color: rgba(96,96,96,0.5) !important;
}
