#msgs_scroller_div {
  margin-left: 4px; // This is necessary because this container is being undersized on the width property by a script. Without this, there would be a 4px space on the right, to the left of the monkey scroller.
}

.monkey_scroll_bar {
  z-index: 99; // This should have a higher z-index than messages and dividers or else they overlap.
}

.client_header_icon {
  -moz-filter: brightness(0.6) contrast(3) invert(1) sepia(0.5);
  -webkit-filter: brightness(0.6) contrast(3) invert(1) sepia(0.5);
  filter: brightness(0.6) contrast(3) invert(1) sepia(0.5);
}


.c-member__display-name, .c-team__display-name, .c-usergroup__handle {
    color: #949494 !important;
    font-weight: 400 !important;
}

.c-member .presence.active {
    color: #75bc49 !important;
}

.c-icon.c-presence.c-presence--active.c-icon--presence-online {
  color: #75bc49 !important;
}

.menu.p-emoji_picker {
  background: $color-shade-darkest !important;
}

/*
.p-channel_sidebar {
  background: #3B4048;
  color: rgb(196,198,200);
}

.p-channel_sidebar__channel,
.p-channel_sidebar__link,
.p-channel_sidebar__channel:link,
.p-channel_sidebar__link:link,
.p-channel_sidebar__channel:visited,
.p-channel_sidebar__link:visited,
.p-channel_sidebar__channel:hover,
.p-channel_sidebar__link:hover {
  color: rgb(196,198,200);
}
.p-channel_sidebar__channel--selected,
.p-channel_sidebar__link--selected,
.p-channel_sidebar__channel--selected:link,
.p-channel_sidebar__link--selected:link,
.p-channel_sidebar__channel--selected:visited,
.p-channel_sidebar__link--selected:visited,
.p-channel_sidebar__channel--selected:hover,
.p-channel_sidebar__link--selected:hover,
.p-channel_sidebar__channel--selected + .p-channel_sidebar__close {
  color: #FFFFFF;
}
*/

.p-channel_sidebar__channel:hover,
.p-channel_sidebar__link:hover {
  background: rgba(0, 0, 0, 0.15) !important;
}

.p-channel_sidebar__close_container:hover {
  background: rgba(255,255,255,0.15) !important;
}

/*
.p-channel_sidebar__header {
  color: rgb(196,198,200);
}
/*

/* Override presence icons */
.p-channel_sidebar__channel--im .c-presence--active,
.p-channel_sidebar__channel--im-slackbot:before {
  color: #94E864 !important;
}
.p-channel_sidebar__channel--im.p-channel_sidebar__channel--selected .c-presence,
.p-channel_sidebar__channel--im-slackbot.p-channel_sidebar__channel--selected:before {
  color: #FFFFFF;
}

.p-channel_sidebar__channel--im.p-channel_sidebar__channel--selected .c-presence--active {
  color: #94E864 !important;
}

.p-channel_sidebar__channel--im .c-presence--away {
  color: rgb(196,198,200) !important;
}


// .p-channel_sidebar__channel--selected,
// .p-channel_sidebar__channel--selected:hover,
// .p-channel_sidebar__link--selected,
// .p-channel_sidebar__link--selected:hover {
//   background: #282c34 !important;
// }

/*
.p-channel_sidebar__channel--selected:before,
.p-channel_sidebar__channel--selected:hover:before,
.p-channel_sidebar__link--selected:before,
.p-channel_sidebar__link--selected:before,
.p-channel_sidebar__channel--selected:after,
.p-channel_sidebar__channel--selected:hover:after,
.p-channel_sidebar__link--selected:after,
.p-channel_sidebar__link--selected:after {
  color: #FFFFFF;
}

.p-channel_sidebar__badge,
.p-channel_sidebar__banner--mentions {
  background: #78AF8F;
}

.p-channel_sidebar .c-custom_scrollbar__thumb_vertical,
.p-channel_sidebar .c-scrollbar__bar {
  background: #FFFFFF;
}
*/
/** `opacity: 1` color overrides */
/*
.p-channel_sidebar__channel--unread:not(.p-channel_sidebar__channel--muted):not(.p-channel_sidebar__channel--selected) .p-channel_sidebar__name,
.p-channel_sidebar__link--unread:not(.p-channel_sidebar__link--selected) .p-channel_sidebar__name,
.p-channel_sidebar__link--invites:not(.p-channel_sidebar__link--dim) .p-channel_sidebar__name,
.p-channel_sidebar__section_heading_label--clickable:hover,
.p-channel_sidebar__quickswitcher:hover {
  color: #FFFFFF;
}
*/
